<router-outlet></router-outlet>

<!-- 5. Hacer instalación de prime y icon npm install primeng & npm install primeicons    -->
<!-- 6. En el archivo angular.json agregar en los styles agregar los siguientes estilos               "node_modules/primeng/resources/themes/lara-light-blue/theme.css",
              "node_modules/primeicons/primeicons.css",
              "node_modules/primeng/resources/primeng.min.css"    -->
<button pButton>Hola mundo</button>
<p-button>Otro boton</p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
