<!-- 4. Limpiar HTML y hacer estructura basica inicial -->
<div class="row mt-4">
  <div class="col-3">
    <!-- sidebar -->
    sidebar
  </div>
  <div class="col">
    <!-- Paginas -->
<!-- 11. Llamar por el nombre del selector shared-home-page -->
<!-- 15. Llamar por el nombre del selector shared-about-page -->
<!-- 22. Comentar y despues eliminar selectores -->
    <!-- <shared-home-page></shared-home-page>
    <shared-about-page></shared-about-page> -->
<!-- 23. Llamar componente router-outlet que dependiendo del url y la ruta del componente renderiza en pantalla   -->
      <router-outlet></router-outlet>
  </div>
</div>


