<!-- 26. Construir el html -->
<h2>Países</h2>
<hr>
<!-- 28. Agregar propiedad routerlink a cada li de pagina -->
<!-- 30. Agregar propiedad routerlinkactive a cada li de pagina -->
<!-- 32. Dejar el routerlink de home vacio para igualar al approunting -->
<!-- 33. Para que no ocurra el doble routing, agregar la propiedad routerlinkactiveoption con opcion true, para que sea liga exacta y se cumpla la condicion de la url-->
<ul class="list-group">
  <li
  routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  class="list-group-item">
    Home Page
  </li>
  <li
  routerLink="about"
  routerLinkActive="active"
  class="list-group-item">
    About Page
  </li>
</ul>
