<h2>Por capital</h2>
<hr>
<div class="row">
  <div class="col">
    <shared-search-box
    placeholder="Búscar por capital"
    (onValue)="searchByCapital($event)"
    ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- 81. Llamar al selector de la tabla y colocale la referencia de tabla -->
    <countries-table [countries]="countries"></countries-table>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{country.capital}} - {{country.population}}
      </li>
    </ul> -->
  </div>
</div>
