<h2>Por capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- 123.Comentar el onvalue y sustituirlo por ondebounce -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-search-box
    placeholder="Búscar por capital"
    (onDebounce)="searchByCapital($event)"
    ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
